<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p><span class="color--green">Название</span> <br> {{products.name_product}}</p>
    <p><span class="color--green">Цена</span>{{products.price}}</p>
    <p><span class="color--green">Категория <br></span>{{products.category.name}}</p>
    {% for i in products.category1.all %}
        <p><span class="color--green">Категория1 <br></span>{{i.name}}</p>
    {%endfor%}
    <p><span class="color--green">Название site </span> <br> {{site.name}}</p>
</body>
</html>